h1 {
  font-size: 20px;
}
.container {
  margin: auto;
  border-style: ridge;
  border-radius: 50px;
  max-width: 400px;
  padding: 30px;
  background-color: #cadbf9;
}
.loc {
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: blueviolet;
  margin-top: 20px;
}
#search-form {
  size: 20px;
}
#search-text-input {
  size: 20px;
}
